<div class="products">
    <% @products.each do |product| %>
      <div class="productFrame">
       
        <div class="a"> <img src="http://g01.a.alicdn.com/kf/HTB1euYHKXXXXXcTXXXXq6xXFXXXt/Men-Shoes-Plus-Size-38-48-Classical-New-Fashion-Men-Cowhide-Leather-Low-Top-Flat-Oxford.jpg_640x640.jpg" alt="Smiley face" height="42" width="42"> </div>
        <div class="a"><%= product.name %></div>
        <div class="a"><%= product.description %></div>
        <div class="a b"><%= product.price %></div>
        
      </div>
    <% end %>
  </div>