<h1>Welcome Magaz6</h1>
<%= link_to 'Categories', categories_path, :class => 'navbar-link' %>
<%= link_to 'Brands', brands_path, :class => 'navbar-link' %>
<%= link_to 'Products', products_path, :class => 'navbar-link' %>