<div class="products">
    <% @products.each do |product| %>
      <div class="productFrame">
       
        <div class="a"><%= product.image %></div>
        <div class="a"><%= product.name %></div>
        <div class="a"><%= product.description %></div>
        <div class="a"><%= product.price %></div>
        
      </div>
    <% end %>
  </div>